<div id="geolocation"></div>
<section class="distribuidores-cerca">
<div class="fondo"></div>
<h1 class="titulo">
  Distribuidores cerca de ti.
</h1>
<h5 class="descripcion">
  Adquiere y empieza a gozar los beneficios de los <br> productos Batukeira®.
</h5>
</section>


<section class="todos-los-distribuidores">
  <div class="titulo">Estamos tratando de localizarte...</div>
</section>

<section class="distribuidores-listado u-cf">

<% @dealers.each do |d| %>
  <div class="celda">
    <div class="centrado-vertical">
      <div class="nombre"><%= d.name %></div>
      <div class="direccion"><%= d.hidden_address ? d.visible_address : d.address %></div>
      <% if d.email.present? %>
        <a href="mailto:<%= d.email %>?Subject=Batukeira" target="_top" class="email"><%= d.email %></a>
      <% end %>
      <a href="tel:<%= d.telephone %>" class="telefono"><%= d.telephone %></a>
      <% if d.telephone2.present? %>
        <a href="tel:<%= d.telephone2 %>" class="telefono"><%= d.telephone2 %></a>
      <% end %>
    </div>
  </div>
<% end %>

</section>


<!-- distribuidores aquí -->
