<div id="geolocation"></div>
<section class="distribuidores-cerca">
<div class="fondo"></div>
<h1 class="titulo">
  Distribuidores cerca de ti.
</h1>
<h5 class="descripcion">
  Adquiere y empieza a gozar los beneficios de los <br> productos Batukeira®.
</h5>
</section>

<section class="distribuidores-listado u-cf">

<% @dealers.each do |d| %>
  <div class="celda">
    <div class="centrado-vertical">
      <div class="nombre"><%= d.name %><span></span></div>
      <div class="direccion"><%= d.hidden_address ? d.visible_address : d.address %></div>
      <% if !d.email.empty? %>
        <a href="mailto:<%= d.email %>?Subject=Batukeira" target="_top" class="email"><%= d.email %></a>
      <% end %>
      <a href="tel:<%= d.telephone %>" class="telefono"><%= d.telephone %></a>
      <a href="tel:555-555-5555" class="telefono">555-555-5555</a>
    </div>
  </div>
<% end %>

</section>

<section class="todos-los-distribuidores">
  <div class="titulo">Aquí está toda la lista de distribuidores:</div>
</section>

<section class="distribuidores-listado u-cf">

<% @dealers.each do |d| %>
  <div class="celda">
    <div class="centrado-vertical">
      <div class="nombre"><%= d.name %><span></span></div>
      <div class="direccion"><%= d.hidden_address ? d.visible_address : d.address %></div>
      <% if !d.email.empty? %>
        <a href="mailto:<%= d.email %>?Subject=Batukeira" target="_top" class="email"><%= d.email %></a>
      <% end %>
      <a href="tel:<%= d.telephone %>" class="telefono"><%= d.telephone %></a>
      <a href="tel:555-555-5555" class="telefono">555-555-5555</a>
    </div>
  </div>
<% end %>

</section>