<% content_for :fixed_nav, 'scrolled fixed' %>
<section class="row contacto">
  <div class="fondo"></div>
  <div class="info">
    <div class="centrado-vertical">
      <h1 class="titulo">Contáctanos</h1>


    <% if @prefs.facebook.present? %>
      <div class="texto">Facebook:</div>
      <ul class="lista">
        <li><a href="<%= @prefs.facebook %>"><%= @prefs.facebook %></a></li>
      </ul>
    <% end %>

    <% if @prefs.twitter.present? %>
      <div class="texto">Twitter:</div>
      <ul class="lista">
        <li><a href="<%= @prefs.twitter %>"><%= @prefs.twitter %></a></li>
      </ul>
    <% end %>

    <% if @prefs.email.present? %>
      <div class="texto">Correo electrónico:</div>
      <ul class="lista">
        <li><a href="mailto:<%= @prefs.email %>?Subject=Batukeira" target="_top" class="email"><%= @prefs.email %></a></li>
      </ul>
    <% end %>

    <% if @prefs.telephone.present? || @prefs.telephone2.present? %>
      <div class="texto">Teléfono:</div>
      <ul class="lista">
       <% if @prefs.telephone.present? %>
        <li><a href="tel:<%= @prefs.telephone %>" class="telefono"><%= @prefs.telephone %></a></li>
       <% end %>
      <% if @prefs.telephone2.present? %>
        <li><a href="tel:<%= @prefs.telephone2 %>" class="telefono"><%= @prefs.telephone2 %></a></li>
       <% end %>
      </ul>
    <% end %>
    </div>
  </div>

  <div class="forma">
    <div id="contact-form" class="centrado-vertical-forma">
      <%= render "contacto_contacto" %>
    </div>
  </div>

</section>
