<section class="baja-de-peso">
<svg class="curva" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
  <path d="M 2 10 H 10 L 11 2 Q 10 10 2 10"></path>
</svg>
<div class="producto_gel"></div>
<div class="producto_cremadia"></div>
<div class="producto_cremanoche"></div>
<div class="producto_extra"></div>
<div class="producto_capsulas"></div>
<div class="logo"></div>
<div class="centrado-vertical">
  <h1 class="titulo animated fadeInLeft">Baja de peso de <br> forma natural</h1>
  <div class="descripcion animated fadeInLeft">Sin dejar de comer ni hacer ejercicio.</div>
</div>
</section>

<section class="row batukeira-es">
  <div>
<!--   <div class="imagen"></div>
 -->    Batukeira@ es el único método completo para <strong> bajar de peso de  forma natural. No es necesario hacer dietas ni ejercicio </strong> para quemar la grasa interna y externa del cuerpo. Somos el <strong>único método</strong> que se asegura de prevenir el rebote una vez que alcanzaste tu peso ideal.
  </div>

  <strong>Bajar de peso nunca había sido tan sencillo.</strong>
</section>

<section class="row como-funciona">
  <div class="fondo"></div>
  <div class="row">
    <h2 class="titulo">¿Cómo funciona?</h2>
  </div>
  <div class="row columnas">
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          1 Cápsula
Batukeira® diaria.
        </div>
        <div class="descripcion">
          De preferencia por las
noches.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Sigue tu vida normal.
        </div>
        <div class="descripcion">
          No dietas. No ejercicio.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Elimina la grasa y
baja de peso.
        </div>
        <div class="descripcion">
          Una nueva forma de vivir.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row capsulas-batukeira">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Cápsulas Batukeira®
      </h2>
      <div class="descripcion">
        Creadas a base de algas marinas, nopal,
        bambú, jamaica, cha de bugre, toronja,
        mango y otras frutas. <br>
        <br>
        Ayudan a eliminar la grasa del cuerpo, no
        deja flacidez alivia el estreñimineto y reduce
        el colesterol. <span> Te ayudará a quemar de 3 a 6
        kilos en un mes. </span>
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row ya-usas-batukeira">
  <h2 class="titulo">¿Ya usas Batukeira®?</h2>
  <div class="descripcion">Complementa tu tratamiento y obtén los <br>
mejores resultados.</div>
</section>

<section class="row gel-batukeira">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Gel Batukeira®
      </h2>
      <div class="descripcion">
        Creadas a base de algas marinas, bambú,
  romero, toronja, piña, lima, mango, ruda,
  menta, Gotu Kola, colágeno y elastina.
  <br><br>
  Sirve para complementar las Cápsulas
  Batukeira®. Al aplicarse en la piel, ayuda a
  evitar la flacidez, estrías y piel de naranja al
  bajar de peso.
  <br><br>
  Usarlo 2 veces al día, equivale a realizar 50
  minutos de ejercicio o 150 abdominales,
  dependiendo del lugar del cuerpo donde se
  ponga.
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row crema-nutritiva">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Crema Nutritiva
Batukeira®
      </h2>
      <div class="descripcion">

Tu nuevo secreto de belleza.
  <br><br>
  Contiene placenta, colageno, elastina, aceite de Argán, ácido urónico, Jalea Real, semilla de uva, vitamina E y alantoína
  <br><br>
  Elimina las líneas de expresión. Empieza a notar los resultados en solo <strong>3 meses.</strong>
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row crema-nutritiva-noche">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Crema Nutritiva
Batukeira® Noche
      </h2>
      <div class="descripcion">
  Contiene colágeno, elastina, aceite de Argán,
Jalea Real, semilla de uva, vitamina E,
Alantoína y otros ingredientes naturales.
  <br><br>
  Elimina las líneas de expresión y las manchas
  oscuras en la piel producidas por los rayos UV
  o por el paso del tiempo.
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
    </div>
  </div>
</section>


<section class="row disenado-para">
  <h2 class="titulo">Diseñado para tu estilo de vida.</h2>
  <div class="descripcion">Con Batukeira® puedes obtener el cuerpo
ideal sin complicaciones.</div>
  <%= link_to("Inicia tu tratamiento", comprar_path, class:'boton') %>
  <div class="info">¿Tienes tu propio negocio? Descubre cómo puedes volverte un <%= link_to("distribuidor Batukeira®", distribuidores_path) %></div>
</section>

<section class="row casos-destacados">
  <h2 class="titulo">Casos Destacados</h2>
  <div class="descripcion">El poder de Batukeira® es real.</div>
</section>

<section class="caso-destacado">
<% if !@case.nil? %>
  <div class="celda">
    <div class="datos">
      <div class="centrado-vertical">
        <div class="nombre"><%= @case.title %></div>

        <div class="atributo">
          <% if !@case.weight_before.nil? %>
            <span>Peso inicial:</span> <%= number_with_precision(@case.weight_before, :precision => 2) %> Kg
          <% end %>
          <% if !@case.weight_after.nil? %>
            <span>Peso inicial:</span> <%= number_with_precision(@case.weight_after, :precision => 2) %>  Kg
          <% end %>
        </div>

        <div class="atributo">
          <% if !@case.waist_before.nil? %>
            <span>Peso inicial:</span> <%= number_with_precision(@case.waist_before, :precision => 2) %> cm
          <% end %>
          <% if !@case.waist_after.nil? %>
            <span>Peso inicial:</span> <%= number_with_precision(@case.waist_after, :precision => 2) %>  cm
          <% end %>
        </div>

        <br>

        <% if !@case.eleapsed_time.empty? %>
          <div class="atributo"><span>Tiempo invertido:</span><%= @case.eleapsed_time %></div>
        <% end %>

        <% if !@case.product_used.empty? %>
          <div class="atributo"><span>Producto utilizado:</span><%= @case.product_used %></div>
        <% end %>

        <div class="descripcion"><%= @case.title %></div>
      </div>
    </div>
    <div class="galeria">
      <div class="gallery-top swiper-container ">
        <div class="swiper-wrapper">
          <% @case.photos.each do |photo| %>
            <div class="swiper-slide" style="background-image:url(<%=photo.photo_file.url(:thumb)%>)">
              <div class="detalles">
                <% if !photo.month.nil? && !photo.year.nil? %>
                  <%= num_to_month(photo.month) %> <%= photo.year %>
                <% end %>
                <% if !photo.weight.nil? %>
                   Peso: <%= number_with_precision(photo.weight, :precision => 2) %> Kg
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
        <div class="swiper-button-next next- swiper-button-white"></div>
        <div class="swiper-button-prev prev- swiper-button-white"></div>
      </div>

      <script>
      var galleryTop = new Swiper('.gallery-top', {
          nextButton: '.next-',
          prevButton: '.prev-',
          spaceBetween: 0,
          speed:500,
          autoplay:3000,
          slidesPerView:2,
          keyboardControl: true
        });
      </script>
    </div>
  </div>
<% end %>
</section>

<section class="row preguntas-frecuentes">
  <h2 class="titulo">Preguntas Frecuentes</h2>
  <div class="descripcion">Todo lo que necesitas saber sobre Batukeira®.</div>
</section>

<div class="pregunta">
  ¿Por qué Batukeira@ es un sistema completo para bajar de peso?
  <div class="respuesta">
    Porque, a diferencia de otros métodos, Batukeira@ te ofrece los productos necesarios para cada etapa del proceso, desde quemar grasa  hasta evitar el rebote y la piel de naranja.
  </div>
</div>

<div class="pregunta">
  ¿Cómo funciona Batukeira@?
  <div class="respuesta">
    Es muy simple, solo debes tomar una cápsula diaria (de preferencia por las noches) y empezarás a quemar grasa en todo el cuerpo. Una vez que hayas alcanzado tu peso ideal, adquiere los productos especializados para evitar el rebote y para prevenir la flacidez.

Así de simple es tener el físico que siempre soñaste.
  </div>
</div>

<div class="pregunta">
  ¿Batukeira® me ayuda a bajra de peso sin hacer ejercicio?
  <div class="respuesta">
    Así es, los ingredientes activos naturales de Batukeira@ permiten la quema de grasa interna y externa de todo el cuerpo, a diferencia de otros productos, podrás quemar de 100 a 200 gramos diarios.

Si se acompaña de una rutina de ejercicio, podrás obtener mejores resultados y una mejor calidad de vida.
  </div>
</div>

<div class="pregunta">
  ¿Los ingredientes de Batukeira® son naturales?
  <div class="respuesta">
    Sí, todos los ingredientes de los productos Batukeira@ son 100% naturales para aprovechar así todos sus beneficio.
  </div>
</div>

<div class="pregunta">
  Si ya logré bajar de peso, ¿qué debo hacer después?
  <div class="respuesta">
   Lo más importante después de bajar de peso, es evitar el rebote, habla con tu distribuidor para que te informe sobre nuestro productos especializados en el control del rebote y evitar la flacidez (piel de naranja).
  </div>
</div>

<div class="pregunta">
  ¿En cuánto tiempo empezaré notar cambios en mi cuerpo?
  <div class="respuesta">
    Los efectos de las cápsulas y gel Batukeira@ son inmediatos. A partir del cuarto día, empezarás a notar en tu ropa cómo ha disminuido tu grasa corporal.

  </div>
</div>
<div class="pregunta">
¿Está permitida la distribución de Batukeira@?
  <div class="respuesta">
    Sí, los productos Batukeira@ están autorizados por la Secretaría de Salud y la Cofepris.
  </div>
</div>
<div class="pregunta">
¿Cómo debe utilizarse el Gel Batukeira®?
  <div class="respuesta">
Se recomiendo utilizarse dos veces al día, una en la mañana y otra en la noche. El Gel Batukeira@ ayuda a eliminar la grasa rápidamente y de manera natural en zonas específicas del cuerpo. Aplicar el gel, que no deja ningún olor, ni sensación grasosa, es equivalente a realizar 40 minutos de ejercicio físico.

  </div>
</div>

<div class="pregunta">
¿Puedo comprar los productos por separado?
  <div class="respuesta">
Sí, los productos Batukeira® se venden por separado, sin embargo,te recomendamos utilizarlos al mismo tiempo para obtener mejores resultados y alcanzar tus metas en el menor tiempo posible.
  </div>
</div>
