<section class="baja-de-peso">
<svg class="curva" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
  <path d="M 2 10 H 10 L 11 2 Q 10 10 2 10"></path>
</svg>
<div class="producto2"></div>
<div class="producto"></div>
<div class="logo"></div>
<div class="centrado-vertical">
  <h1 class="titulo">Baja de peso de <br> forma natural</h1>
  <div class="descripcion">Sin dejar de comer ni hacer ejercicio.</div>
</div>
</section>

<section class="row batukeira-es">
  <div>
    Batukeira® es un método 100% natural que quema la grasa
interna y externa de todo el cuerpo al mismo tiempo. Sin hacer
dietas, sin hacer ejercicio.
  </div>
  <strong>Bajar de peso nunca había sido tan sencillo.</strong>
</section>

<section class="row como-funciona">
  <div class="fondo"></div>
  <div class="row">
    <h2 class="titulo">¿Cómo funciona?</h2>
  </div>
  <div class="row columnas">
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          1 Cápsula
Batukeira® diaria.
        </div>
        <div class="descripcion">
          De preferencia por las
noches.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Sigue tu vida normal.
        </div>
        <div class="descripcion">
          No dietas. No ejercicio.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Elimina la grasa y
baja de peso.
        </div>
        <div class="descripcion">
          Una nueva forma de vivir.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row capsulas-batukeira">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Cápsulas Batukeira®
      </h2>
      <div class="descripcion">
        Creadas a base de algas marinas, nopal,
        bambú, jamaica, cha de bugre, toronja,
        mango y otras frutas. <br>
        <br>
        Ayudan a eliminar la grasa del cuerpo, no
        deja flacidez alivia el estreñimineto y reduce
        el colesterol. <span> Te ayudará a quemar de 3 a 6
        kilos en un mes. </span>
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", dealers_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row ya-usas-batukeira">
  <div class="titulo">¿Ya usas Batukeira®?</div>
  <div class="descripcion">Complementa tu tratamiento y obtén los <br>
mejores resultados.</div>
</section>

<section class="row gel-batukeira">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Gel Batukeira®
      </h2>
      <div class="descripcion">
        Creadas a base de algas marinas, bambú,
  romero, toronja, piña, lima, mango, ruda,
  menta, Gotu Kola, colágeno y elastina.
  <br><br>
  Sirve para complementar las Cápsulas
  Batukeira®. Al aplicarse en la piel, ayuda a
  evitar la flacidez, estrías y piel de naranja al
  bajar de peso.
  <br><br>
  Usarlo 2 veces al día, equivale a realizar 50
  minutos de ejercicio o 150 abdominales,
  dependiendo del lugar del cuerpo donde se
  ponga.
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", dealers_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row crema-nutritiva">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Crema Nutritiva
Batukeira®
      </h2>
      <div class="descripcion">

Tu nuevo secreto de belleza.
  <br><br>
  Contiene colágeno, elastina, aceite de Argán,
Jalea Real, semilla de uva, vitamina E,
Alantoína y otros ingredientes naturales.
  <br><br>
  Elimina las líneas de expresión y las manchas
  oscuras en la piel producidas por los rayos UV
  o por el paso del tiempo.
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", dealers_path, class:'boton') %>
    </div>
  </div>
</section>


<section class="row disenado-para">
  <h2 class="titulo">Diseñado para tu estilo de vida.</h2>
  <div class="descripcion">Con Batukeira® puedes obtener el cuerpo
ideal sin complicaciones.</div>
  <%= link_to("Inicia tu tratamiento", dealers_path, class:'boton') %>
  <div class="info">¿Tienes tu propio negocio? Descubre cómo puedes volverte un <%= link_to("distribuidor Batukeira®", dealers_path) %></div>
</section>

<section class="row casos-destacados">
  <h2 class="titulo">Casos Destacados</h2>
  <div class="descripcion">El poder de Batukeira® es real.</div>
</section>

<section class="row preguntas-frecuentes">
  <h2 class="titulo">Preguntas Frecuentes</h2>
  <div class="descripcion">Todo lo que necesitas saber sobre Batukeira®.</div>
</section>

<div class="pregunta">
  ¿Cuántas cápsulas Batukeira® debo tomar al día?
  <div class="respuesta">
    Batukeira quema toda la grasa interna y externa
    en tu cuerpo y hace que la elimines al evacuar.
    Al usarla, perderas de 100g a 200g diarios, lo que
    equivale a entre 3 y 6 kilos al mes.
  </div>
</div>

<div class="pregunta">
  ¿Cuántas cápsulas Batukeira® debo tomar al día?
  <div class="respuesta">
    Batukeira quema toda la grasa interna y externa
    en tu cuerpo y hace que la elimines al evacuar.
    Al usarla, perderas de 100g a 200g diarios, lo que
    equivale a entre 3 y 6 kilos al mes.
  </div>
</div>

<div class="pregunta">
  ¿Cuántas cápsulas Batukeira® debo tomar al día?
  <div class="respuesta">
    Batukeira quema toda la grasa interna y externa
    en tu cuerpo y hace que la elimines al evacuar.
    Al usarla, perderas de 100g a 200g diarios, lo que
    equivale a entre 3 y 6 kilos al mes.
  </div>
</div>

<div class="pregunta">
  ¿Cuántas cápsulas Batukeira® debo tomar al día?
  <div class="respuesta">
    Batukeira quema toda la grasa interna y externa
    en tu cuerpo y hace que la elimines al evacuar.
    Al usarla, perderas de 100g a 200g diarios, lo que
    equivale a entre 3 y 6 kilos al mes.
  </div>
</div>
