<section class="baja-de-peso">
  <svg class="curva" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
    <path d="M 2 10 H 10 L 11 2 Q 10 10 2 10"></path>
  </svg>
  <div class="producto_gel"></div>
  <div class="producto_cremadia"></div>
  <div class="producto_cremanoche"></div>
  <div class="producto_extra"></div>
  <div class="producto_capsulas"></div>
  <div class="logo"></div>
  <div class="centrado-vertical">
    <h1 class="titulo animated fadeInLeft">Baja de peso de <br> forma natural</h1>
    <div class="descripcion animated fadeInLeft">Sin dejar de comer ni hacer ejercicio.</div>
  </div>
</section>

<section class="row batukeira-es">
  <div>
<!--   <div class="imagen"></div>
-->    Batukeira@ es el único método completo para <strong> bajar de peso de  forma natural. No es necesario hacer dietas ni ejercicio </strong> para quemar la grasa interna y externa del cuerpo. Somos el <strong>único método</strong> que se asegura de prevenir el rebote una vez que alcanzaste tu peso ideal.
</div>

<strong>Bajar de peso nunca había sido tan sencillo.</strong>
</section>

<section class="row como-funciona">
  <div class="fondo"></div>
  <div class="row">
    <h2 class="titulo">¿Cómo funciona?</h2>
  </div>
  <div class="row columnas">
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          1 Cápsula
          Batukeira® diaria.
        </div>
        <div class="descripcion">
          De preferencia por las
          noches.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Sigue tu vida normal.
        </div>
        <div class="descripcion">
          No dietas. No ejercicio.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Elimina la grasa y
          baja de peso.
        </div>
        <div class="descripcion">
          Una nueva forma de vivir.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row capsulas-batukeira">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Batukeira®
      </h2>
      <div class="descripcion">
        Ingredientes activos: algas marinas, nopal, bambú, Jamaica, toronja, piña y otras frutas. <br> <br>
        Ayudan a eliminar exclusivamente la grasa interna del cuerpo, la extrae diariamente y no se queda la grasa que coma. Alivia el estreñimiento y reduce el colesterol. Te ayudará a quemar de 2 a 4 kilos de grasa en un mes. No interfiere con medicamentos, alimentos, o bebidas alcohólicas.
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row capsulas-batukeira-plus">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Batukeira Plus®
      </h2>
      <div class="descripcion">
        Ingredientes activos: algas marinas, nopal, bambú, Jamaica, toronja, piña y otras frutas incluyendo mango. <br> <br>
        También  elimina  la grasa interna del cuerpo, y es la segunda etapa del tratamiento o inicio cuando hay exceso de obesidad. No hay que dejar de comer nada, solamente extrae la grasa interna incluyendo las de las arterias y limpieza de colon. Alivia el estreñimiento y reduce el colesterol. Te ayudará a quemar de 3 a 4 kilos de grasa en un mes. No interfiere con medicamentos, alimentos, o bebidas alcohólicas.
      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row capsulas-batukeira-extra">
  <div class="row">
    <div class="texto">
      <h2 class="titulo">
        Batukeira Extra®
      </h2>
      <div class="descripcion">
        Ingredientes activos: algas marinas, nopal, bambú, Jamaica, toronja, piña, Cha de Bugre (brasileño)y otras frutas incluyendo mango. <br> <br>
        De igual manera, elimina  la grasa interna del cuerpo, y es parte final del tratamiento para sellar y no tener rebote, también es el inicio cuando hay exceso de obesidad de 30 kilos o más. Solamente extrae la grasa interna incluyendo las de las arterias y limpieza de colon. Alivia el estreñimiento y reduce el colesterol. Te ayudará a quemar de 3 a 4 kilos de grasa en un mes. No interfiere con medicamentos, alimentos, o bebidas alcohólicas.

      </div>
    </div>
    <div class="contenedor-boton">
      <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
    </div>
  </div>
</section>

<section class="row ya-usas-batukeira">
  <h2 class="titulo">¿Ya usas Batukeira®?</h2>
  <div class="descripcion">Complementa tu tratamiento y obtén los <br>
    mejores resultados.</div>
  </section>

  <section class="row gel-batukeira">
    <div class="row">
      <div class="texto">
        <h2 class="titulo">
          Gel Batukeira®
        </h2>
        <div class="descripcion">
          Ingredientes activos: algas marinas, bambú, romero, toronja, piña, lima, mango, ruda, menta, Gotu Kola, al igual que altos porcentajes de colágeno y elastina. <br><br>
          Sirve para complementar las Cápsulas Batukeira®. Al aplicarse en la piel, ayuda a evitar la flacidez, estrías y piel de naranja al bajar de peso; moldeando el cuerpo para lograr la figura ideal. <br><br>
          Usarlo 2 veces al día, equivale a realizar 50 minutos de ejercicio; 150 abdominales y correr 20 minutos, dependiendo del lugar del cuerpo donde se ponga.  Este erradica la grasa después de la dermis y su aplicación es cutánea de 1 a 2 veces al día, sin importar que la piel este sucia.
          No hay que ponerse sudaderas, plásticos u otras prendas, es inodora y no mancha la ropa, seca en 20 segundos después de aplicarse.
        </div>
      </div>
      <div class="contenedor-boton">
        <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
      </div>
    </div>
  </section>

  <section class="row crema-nutritiva">
    <div class="row">
      <div class="texto">
        <h2 class="titulo">
          Crema Nutritiva
          Batukeira® de día
        </h2>
        <div class="descripcion">
          Tu nuevo secreto de belleza para uso diario con protector solar, con mas contenido (150gr) y con formula única para difuminar esas arrugas de cara cuello y manos, lo notaras en la primera semana. <br><br>
          Ingredientes activos: Placenta, Colágeno, Elastina, Aceite de Argán, Jalea Real, Semilla de Uva. <br><br>
          Elimina las líneas de expresión y manden tu piel sedosa. Empieza a notar los resultados en solo <strong>3 meses</strong> no tienen que esperar años para ver resultados,  rejuvenece y recupera el tiempo perdido con otros productos.
        </div>
      </div>
      <div class="contenedor-boton">
        <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
      </div>
    </div>
  </section>

  <section class="row crema-nutritiva-noche">
    <div class="row">
      <div class="texto">
        <h2 class="titulo">
          Crema Nutritiva
          Batukeira® de noche
        </h2>
        <div class="descripcion">
          Unida en su formula y protección con la crema de día, la crema de noche te hará un peeling nocturno de forma sutil, desvaneciendo paulatinamente tus manchas de sol, acné o cicatrices.
          Nuestra formula da resultados a los 7 días, quítate esos años que no son tuyos desvaneciendo y eliminando rápidamente las líneas de expresión de cara, ceño, cuello, manchas de paño, lunares de manos, manchas obscuras en la piel producidas por los rayos UV, el paso del tiempo y mucho mas. <br><br>
          Ingredientes activos: placenta, colágeno, elastina, aceite de Argán, ácido urónico, Jalea Real, semilla de uva, vitamina E y alantoína <br><br>
          Empieza a notar los resultados en tan solo <strong>1 mes</strong>.
        </div>
      </div>
      <div class="contenedor-boton">
        <%= link_to("Comprar ahora", comprar_path, class:'boton') %>
      </div>
    </div>
  </section>


  <section class="row disenado-para">
    <h2 class="titulo">Diseñado para tu estilo de vida.</h2>
    <div class="descripcion">Con Batukeira® puedes obtener el cuerpo
      ideal sin complicaciones.</div>
      <%= link_to("Inicia tu tratamiento", comprar_path, class:'boton') %>
      <div class="info">¿Tienes tu propio negocio? Descubre cómo puedes volverte un <%= link_to("distribuidor Batukeira®", distribuidores_path) %></div>
    </section>

    <section class="row casos-destacados">
      <h2 class="titulo">Casos Destacados</h2>
      <div class="descripcion">El poder de Batukeira® es real.</div>
    </section>

    <section class="caso-destacado">
      <% if !@case.nil? %>
      <div class="celda">
        <div class="datos">
          <div class="centrado-vertical">
            <div class="nombre"><%= @case.title %></div>

            <div class="atributo">
              <% if !@case.weight_before.nil? %>
              <span>Peso inicial:</span> <%= number_with_precision(@case.weight_before, :precision => 2) %> Kg
              <% end %>
              <% if !@case.weight_after.nil? %>
              <span>Peso inicial:</span> <%= number_with_precision(@case.weight_after, :precision => 2) %>  Kg
              <% end %>
            </div>

            <div class="atributo">
              <% if !@case.waist_before.nil? %>
              <span>Peso inicial:</span> <%= number_with_precision(@case.waist_before, :precision => 2) %> cm
              <% end %>
              <% if !@case.waist_after.nil? %>
              <span>Peso inicial:</span> <%= number_with_precision(@case.waist_after, :precision => 2) %>  cm
              <% end %>
            </div>

            <br>

            <% if !@case.eleapsed_time.empty? %>
            <div class="atributo"><span>Tiempo invertido:</span><%= @case.eleapsed_time %></div>
            <% end %>

            <% if !@case.product_used.empty? %>
            <div class="atributo"><span>Producto utilizado:</span><%= @case.product_used %></div>
            <% end %>

            <div class="descripcion"><%= @case.description %></div>
          </div>
        </div>
        <div class="galeria">
          <div class="gallery-top swiper-container ">
            <div class="swiper-wrapper">
              <% @case.photos.each do |photo| %>
              <div class="swiper-slide" style="background-image:url(<%=photo.photo_file.url(:thumb)%>)">
                <div class="detalles">
                  <% if !photo.month.nil? && !photo.year.nil? %>
                  <%= num_to_month(photo.month) %> <%= photo.year %>
                  <% end %>
                  <% if !photo.weight.nil? %>
                  Peso: <%= number_with_precision(photo.weight, :precision => 2) %> Kg
                  <% end %>
                </div>
              </div>
              <% end %>

            </div>
            <div class="swiper-button-next next- swiper-button-white"></div>
            <div class="swiper-button-prev prev- swiper-button-white"></div>
          </div>

          <script>
            var galleryTop = new Swiper('.gallery-top', {
              nextButton: '.next-',
              prevButton: '.prev-',
              spaceBetween: 0,
              speed:500,
              autoplay:3000,
              slidesPerView:2,
              keyboardControl: true
            });
          </script>
        </div>
      </div>
      <% end %>
    </section>

    <section class="row preguntas-frecuentes">
      <h2 class="titulo">Preguntas Frecuentes</h2>
      <div class="descripcion">Todo lo que necesitas saber sobre Batukeira®.</div>
    </section>

    <div class="pregunta">
      ¿Por qué Batukeira® es un sistema completo para bajar de peso?
      <div class="respuesta">
        Porque, a diferencia de otros métodos, Batukeira® te ofrece los productos necesarios para cada etapa del proceso, desde quemar grasa hasta evitar el rebote, estrías y piel de naranja.
      </div>
    </div>

    <div class="pregunta">
      ¿Cómo funciona Batukeira®?
      <div class="respuesta">
        Es muy simple, solo debes tomar una cápsula diaria (de preferencia por las noches) y empezarás a quemar grasa en todo el cuerpo. Una vez que hayas alcanzado tu peso ideal, adquiere los productos especializados para evitar el rebote y para prevenir la flacidez.

        Así de simple es tener el físico que siempre soñaste.
      </div>
    </div>

    <div class="pregunta">
      ¿Batukeira® me ayuda a bajra de peso sin hacer ejercicio?
      <div class="respuesta">
        Así es, los ingredientes activos naturales de Batukeira® permiten la quema de grasa interna y externa de todo el cuerpo, a diferencia de otros productos, podrás quemar de 100 a 200 gramos diarios.

        Si se acompaña de una rutina de ejercicio, podrás obtener mejores resultados y una mejor calidad de vida.
      </div>
    </div>

    <div class="pregunta">
      ¿Los ingredientes de Batukeira® son naturales?
      <div class="respuesta">
        Sí, todos los ingredientes de los productos Batukeira@ son 100% naturales para aprovechar así todos sus beneficio.
      </div>
    </div>

    <div class="pregunta">
      Si ya logré bajar de peso, ¿qué debo hacer después?
      <div class="respuesta">
       Lo más importante después de bajar de peso, es evitar el rebote, habla con tu distribuidor para que te informe sobre nuestro productos especializados en el control del rebote y evitar la flacidez (piel de naranja).
     </div>
   </div>

   <div class="pregunta">
    ¿En cuánto tiempo empezaré notar cambios en mi cuerpo?
    <div class="respuesta">
      Los efectos de las cápsulas y gel Batukeira® son inmediatos. A partir del cuarto día, empezarás a notar en tu ropa cómo ha disminuido tu grasa corporal.

    </div>
  </div>
  <div class="pregunta">
    ¿Cómo debe utilizarse el Gel Batukeira®?
    <div class="respuesta">
      Se recomienda utilizarse dos veces al día, una en la mañana y otra en la noche, sin importar que la piel este limpia o sucia. El Gel Batukeira® ayuda a eliminar la grasa rápidamente y de manera natural en zonas específicas del cuerpo. Aplicar el gel, que no deja ningún olor, ni sensación grasosa, es equivalente a realizar 40 minutos de ejercicio físico
    </div>
  </div>

  <div class="pregunta">
    ¿Puedo comprar los productos por separado?
    <div class="respuesta">
      Sí, los productos Batukeira® se venden por separado, sin embargo,te recomendamos utilizarlos al mismo tiempo para obtener mejores resultados y alcanzar tus metas en el menor tiempo posible.
    </div>
  </div>
  <div class="pregunta">
  ¿Cuánto se bajará con un frasco?
    <div class="respuesta">
       En el caso de las mujeres de 2 a 3 kilos y en el de los hombres de 3 a 4 kilos.
    </div>
  </div>

  <div class="pregunta">
  ¿Tendré dolores fuertes de estómago?
    <div class="respuesta">
       Normalmente no hay dolor, es un torzón el que avisa cuando se requiere asistir al sanitario, en algunas ocasiones hay incomodidad si hay mucha retención de gases.
    </div>
  </div>
  <div class="pregunta">
  ¿Por qué me duelen los músculos?
    <div class="respuesta">
       Por la separación de grasa corporal, pero son pequeñas molestias, no es un dolor que no sea soportable.
    </div>
  </div>
  <div class="pregunta">
  ¿Las cápsulas son medicamento?
    <div class="respuesta">
       No. Es una cápsula hecha con ingredientes completamente naturales.
    </div>
  </div>
  <div class="pregunta">
  ¿No me voy a enfermar con las pastillas?
    <div class="respuesta">
       No habrá reacciones de enfermedad, porque no son pastillas, sino cápsulas completamente naturales, cuya función es limpiar el colon y quemar la grasa interna corporal.
    </div>
  </div>
  <div class="pregunta">
  ¿Solo voy a usar las cápsulas, bajaré igual si no me pongo el gel?
    <div class="respuesta">
       Bajará al menos 1 o 2 kilos, pero habrá flacidez en su cuerpo, incluyendo su cara.
    </div>
  </div>
  <div class="pregunta">
  ¿Las puede tomar una persona hipertensa?
    <div class="respuesta">
       Claro, la cápsula es completamente natural, no interfiere con medicamentos, alimentos, o bebidas alcohólicas.
    </div>
  </div>
  <div class="pregunta">
  ¿Si como grasa que me pasará?
    <div class="respuesta">
       La cápsula sacara cualquier grasa que coma ese día, al igual que la que ya tiene en su cuerpo.
    </div>
  </div>
  <div class="pregunta">
  ¿Sí puedo hacer dietas mientras tomo las capsulas?
    <div class="respuesta">
       La cápsula por si sola le bajara sin dietas. No es recomendable que deje de comer porque es probable que descompense nutrientes, es mejor hacer un régimen alimenticio donde cuida los nutrientes necesarios para el balance del cuerpo.
    </div>
  </div>
  <div class="pregunta">
  ¿Qué sucede si hago ejercicio mientras tomo la cápsulas?
    <div class="respuesta">
       Bajará de 2 a 4 kilos mensuales con la capsula más lo que baje con su actividad física, que podría ser hasta 8 kilos en un mes.
    </div>
  </div>
