<%= content_for :title, "Editar" %>
<% content_for :header_content do %>
<h1><b>Información de contacto</b></h1>
<% end %>

<%# Form fields %>
<%= form_for @prefs, url: contact_path do |f|%>

<% if @prefs.errors.any? %>
    <div class="error-explanation-header">
      <%= pluralize(@prefs.errors.count, "error impidió", "errores impidieron") %> que se guardaran los cambios.
    </div>
<% end %>

<%# Redes sociales %>
<div class="row">
  <div class="six columns">
      <%= full_field(f,:facebook,'Link de Facebook','https://www.facebook.com/...') %>
  </div>
  <div class="six columns">
      <%= full_field(f,:twitter,'Link de Twitter','https://twitter.com/...') %>
  </div>
</div>


<hr class="c4-mini">

<%# Teléfonos %>
<div class="row">
  <div class="six columns">
      <%= full_field(f,:telephone,'Teléfono','') %>
  </div>
  <div class="six columns">
      <%= full_field(f,:telephone2,'Teléfono secundario (opcional)','') %>
  </div>
</div>

<hr class="c4-mini">

<%# Email %>
<div class="row">
    <%= full_field(f,:email,'Correo electrónico','ejemplo@ejemplo.com') %>
</div>

<hr>

<!-- 
<h4>Información extra:</h4>


<div class="row">
    <div class="three columns">
      <%= label_tag("key", "Nombre") %>
      <%= text_field_tag "key",nil , class: 'u-full-width', placeholder: 'Ej. Youtube' %>
    </div>
    <div class="nine columns">
      <%= label_tag("value", "Información") %>
      <%= text_field_tag "value",nil, class: 'u-full-width', placeholder: 'Ej. www.youtube.com/batukeira' %>
    </div>
</div>

<% if @prefs.values.present? %>
  <% @prefs.values.each do |k,v| %>
    <div class="row">
        <hr class="c4-mini"></hr>
         <%= hidden_field_tag :_destroy, class: 'destroyer' %>
        <div class="three columns">
          <span><%= k.capitalize %></span>
        </div>

        <div class="seven columns">
          <span><%= v.capitalize %></span>
        </div>

        <div class="two columns">
          <div class="extra_delete c4-button-warning">
            <span class="icon-delete"></span>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
 -->

<div class="row">
    <%= f.submit "Guardar", class: 'c4-button-primary u-full-width' %>
</div>

<% end %>

