<%= content_for :title, "Casos" %>

<% content_for :header_content do %>
<h1><strong>Todos los casos</strong></h1>
<% end %>

<%= link_to new_case_path, id:'new-case-button', class: 'c4-button-success' do %>
  Agregar nuevo
<% end %>
<div class="c4-list-collection">
  <% @cases.each do |c| %>
  <div class="c4-list-cell">
    <div class="row header">
      <div class="nine columns">
        <div class="title">
          <%= c.title %>
        </div>
      </div>
      <div class="three columns">
        <div class="date">
          <%= c.created_at.strftime('%d/%m/%Y') %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <div class="thumbnail" style="background-image: url(<%= photo_if_exists(c) %>)"></div>
      </div>
      <div class="eight columns">
        <div class="description">
          <%= c.description %>
        </div>
        <div class="row buttons-container">
          <%= link_to c, class:'c4-button-primary' do %>
            <span class="icon-visibility"></span>
          <% end %>
        <%= link_to edit_case_path(c), class:'c4-button-primary' do %>
          <span class="icon-edit"></span>
        <% end %>
          <%= link_to c, method: :delete, data: { confirm: 'Esta acción no puede deshacerse. ¿Está seguro que desea borrar este elemento?'}, class:'c4-button-warning' do %>
            <span class="icon-delete"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="c4-spacer"></div>
</div>

