<p>
  <strong>Title:</strong>
  <%= @case.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case.description %>
</p>

<p>
  <strong>Eleapsed time:</strong>
  <%= @case.eleapsed_time %>
</p>

<p>
  <strong>Weight before:</strong>
  <%= @case.weight_before %>
</p>


<p>
  <strong>Weight after:</strong>
  <%= @case.weight_after %>
</p>


<p>
  <strong>Waist Before:</strong>
  <%= @case.waist_before %>
</p>

<p>
  <strong>Waist after:</strong>
  <%= @case.waist_after %>
</p>


<p>
  <strong>Product used:</strong>
  <%= @case.product_used %>
</p>
