<%# Form fields %>
<%= form_for(@dealer) do |f| %>
  <% if @dealer.errors.any? %>
    <div class="error-explanation-header">
      <%= pluralize(@dealer.errors.count, "error impidió", "errores impidieron") %> que se guardaran los cambios.
    </div>
<% end %>

<%# Nombre y dirección %>

<div class="row">
 <%= full_field(f,:name,'Nombre del distribuidor' ,'Eduardo Chávez / Farmacias Pablito') %>
</div>
<div id="map-location-picker">
</div>
<div class="row">
  <%= full_field(f,:address,'Dirección' ,'Calle Zaragoza esq. 5 de Mayo Zona centro Monterrey, N. L., México CP 64000' ) %>
  <%= f.label :hidden_address, class:'field-options-wrapper' do %>
        <%= f.check_box :hidden_address %>Esconder de la página principal
      <% end %>
</div>

<%# Latitud y longitud escondidos %>
<%= f.hidden_field :latitude %>
<%= f.hidden_field :longitude %>

<hr class="c4-mini">

<%# Teléfonos %>
<div class="row">
  <div class="six columns">
      <%= full_field(f,:telephone,'Teléfono','') %>
      <%= f.label :hidden_telephone, class:'field-options-wrapper' do %>
        <%= f.check_box :hidden_telephone %>Esconder de la página principal
      <% end %>
  </div>
  <div class="six columns">
      <%= full_field(f,:telephone2,'Teléfono secundario (opcional)','') %>
      <%= f.label :hidden_telephone2, class:'field-options-wrapper' do %>
        <%= f.check_box :hidden_telephone2 %>Esconder de la página principal
      <% end %>
  </div>
</div>

<hr class="c4-mini">

<%# Email %>
<div class="row">
    <%= full_field(f,:email,'Correo electrónico','ejemplo@ejemplo.com') %>
    <%= f.label :hidden_email, class:'field-options-wrapper' do %>
      <%= f.check_box :hidden_email %>Esconder de la página principal
    <% end %>
</div>

<hr>


<div class="row">
  <div class="six columns">
    <%= link_to "Salir sin guardar", dealers_path, class: 'c4-button-secondary u-full-width'  %>
  </div>

  <div class="six columns">
    <%= f.submit "Guardar", class: 'c4-button-primary u-full-width' %>
  </div>
</div>

<% end %>

<%# Google maps api %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=es"></script>
<%= javascript_include_tag 'location-picker', 'data-turbolinks-track' => true%>