<%= link_to cases_path, class: 'c4-grid-cell' do %>
  <div class="centered">
    <span class="icon-folder_shared"></span>
    <span class="name">Casos</span>
    <span class="description">Edita los casos de usuarios de Batukeira.</span>
  </div>
<% end %>
<%= link_to dealers_path, class: 'c4-grid-cell' do %>
  <div class="centered">
    <span class="icon-enlarge"></span>
    <span class="name">Distribuidores</span>
    <span class="description">Edita los distribuidores de productos Batukeira.</span>
  </div>
<% end %>

<%= link_to announcements_path, class: 'c4-grid-cell' do %>
  <div class="centered">
    <span class="icon-edit"></span>
    <span class="name">Anuncios</span>
    <span class="description">Administra las preferencias de los anuncios.</span>
  </div>
<% end %>

<% if current_user.role == "admin" %>
  <%= link_to users_path, class: 'c4-grid-cell' do %>
    <div class="centered">
      <span class="icon-users"></span>
      <span class="name">Usuarios</span>
      <span class="description">Administra las cuentas del sistema.</span>
    </div>
  <% end %>

  <%= link_to paypal_path, class: 'c4-grid-cell' do %>
    <div class="centered">
      <span class="icon-edit"></span>
      <span class="name">Paypal</span>
      <span class="description">Administra el panel de pago en paypal</span>
    </div>
  <% end %>

<% else %>
  <%= link_to edit_user_path(current_user), class: 'c4-grid-cell' do %>
    <div class="centered">
      <span class="icon-users"></span>
      <span class="name">Usuario</span>
      <span class="description">Edita tu cuenta.</span>
    </div>
  <% end %>
<% end %>


<%= link_to contact_path, class: 'c4-grid-cell' do %>
  <div class="centered">
    <span class="icon-call"></span>
    <span class="name">Contacto</span>
    <span class="description">Edita la información de contacto de Batukeira.</span>
  </div>
<% end %>
<%= link_to destroy_user_session_path, :method => :delete, class: 'c4-grid-cell -nav-only' do %>
  <div class="centered">
    <span class="icon-upload"></span>
    <span class="name">Salir</span>
    <span class="description">Cierra la sesión actual.</span>
  </div>
<% end %>
