<!DOCTYPE html>
<html>
<head>
  <title>Batukeira</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'>
</head>
<body class="animated fadeIn">
<!-- <span class="ms-mq-test"></span> -->
<div class="menu-button"></div>
<nav class="nav-bar <%= yield(:fixed_nav) %>">
  <%= link_to 'Batukeira', root_path %>
  <%= link_to 'Comprar', comprar_path %>
  <%= link_to 'Casos de Éxito', casos_path %>
  <%= link_to 'Distribuir', distribuidores_path %>
  <%= link_to 'Contacto', contacto_path %>

</nav>

<div class="container-fitted">
    <%= yield %>
</div>
<div class="fondo"></div>



</body>
</html>
